:root {
  --black: #050404;
  --gray: rgb(249, 247, 246);
  --pink: rgb(241, 50, 97);
  --pinknumbers: rgb(244, 91, 105);
  --greennumbers: rgb(74, 205, 165);
  --white: rgb(255, 255, 255);
  --green: rgb(63, 183, 22);
  --font: "SF Pro Display";
  --border: rgb(238, 238, 238);
  --text-gray: rgb(153, 153, 153);
  --purple: rgb(83, 34, 229);
  --gray-shade: rgb(136, 136, 136);
  --cube-red: rgb(214, 49, 64);
}
body {
  font-family: "Inter var", sans-serif;
  font-feature-settings: "zero", "ss01";
}
#icon-mobile {
  display: none;
}
#title-img-mobile {
  display: none;
}
#img-mobile {
  display: none;
}
#img-main-mobile {
  display: none;
}
#mobile-blockchain {
  display: none;
}
#mobile {
  display: none;
}
#sun-mobile {
  display: none;
}
#sign-in-nav-mobile {
  display: none;
}
#sign-in-mobile {
  display: none;
}
#main-right-nav {
  left: 15%;
  width: 83%;
  position: relative;
}
#right-whole-section {
  left: 15.8%;
  width: 84.2%;
  position: relative;
  border-right: 1px solid var(--border);
}
#nav-left {
  position: fixed;
  top: 0px;
  left: 0px;
  padding-top: 1%;
  width: 15%;
  min-width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: self-end;
  -webkit-box-pack: start;
  justify-content: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  border-right: 1px solid var(--border);
}
a {
  text-decoration: none;
  color: var(--black);
}
.a-left-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-left: 10%;
  align-items: flex-start;
}
#border {
  border-bottom: 1px solid var(--border);
  width: 70%;
  margin-left: 12%;
  padding: 0;
}
#border:hover {
  padding: 0;
}
#nav-left-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  justify-content: center;
}
.navigation:hover {
  background-color: var(--gray);
  box-shadow: 0 0 10px var(--gray);
  border-radius: 9px;
}

#home {
  background-color: var(--gray);
  width: 75%;
  height: 17px;
  display: flex;
  margin-left: 5%;
  flex-direction: column;
  justify-content: center;
  border-radius: 9px;
}
#title-img {
  font-weight: bolder;
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  margin: 0% 0 20% 20%;
}
#img-main {
  margin-right: 10%;
}
#news {
  margin-left: 12%;
}
.span-text {
  font-weight: 600;
  font-size: 0.875rem;
  margin-left: 10%;
}
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
  width: 80%;
  padding: 13px;
}
/* Search Nav Section- Main Right */
#search-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 13px;
  border-bottom: 1px solid var(--border);
  width: 100%;
  margin-left: 1%;
}
#sign-in {
  width: 90px;
  height: 35px;
  color: var(--white);
  background-color: var(--black);
  border-radius: 20px;
  border: none;
  font-family: var(--font);
}
#search-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  border-radius: 30px;
}
#form {
  border: none;
  width: 700px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#input {
  width: 500px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 100;
  color: var(--border);
  font-family: var(--font);
}
#input:focus {
  color: 1px solid var(--border);
  border: none;
  outline: none;
}
#empty-space {
  width: 440px;
}
#icon {
  width: 5%;
  height: auto;
  padding-left: 15px;
  padding-top: 14px;
  padding-bottom: 12px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--border);
}
#sun {
  margin-right: 110px;
}
/*Game Section*/
#mini-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding-right: 1%;
}
#game-section {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  font-family: var(--font);
  padding-bottom: 1%;
}

#game-left {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 480px;
  height: 30px;
  background-color: var(--border);
  border-radius: 9px;
  font-size: 15px;
  margin-right: 14%;
}
#game-left-a {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 500px;
}
#shido {
  font-weight: 300px;
}
#underline {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}
.boxes {
  color: white;
  width: 160px;
  height: 29px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  font-size: 14px;
  font-weight: 700;
  font-family: var(--font);
}
#black {
  background-color: var(--black);
}
#pink {
  background-color: var(--pink);
}
#green {
  background-color: var(--green);
}
#game-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding-right: 10px;
  gap: 5px;
}
/*Game Section*/
/*First Row*/
#first-row {
  display: flex;
  flex-direction: row;
  font-family: var(--font);
  border-bottom: 1px solid var(--border);
  height: 30%;
}

.rows123 {
  width: 34%;
  padding-top: 1%;
}
.bitcoin-imgs {
  width: 70px;
  height: 55px;
}
.bitcoin-mini {
  width: 30px;
  height: 30px;
}
#row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--border);
}
#row1-txt {
  padding: 40px 20px 0px;
}
#row1-txt:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}
#row1-p1 {
  font-weight: 600;
  font-size: 1.25em;
}
.row1-p2 {
  color: var(--text-gray);
  font-family: var(--font);
  margin: 0;
}
#row1-p2 {
  margin: none;
  padding-top: 4%;
}
#usd {
  width: 47px;
  height: 33px;
  background-color: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  margin-left: 84%;
}
/*First Row*/
/*Second Row*/
#row2 {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border);
}
#title-row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5% 5% 5%;
}
#bitcoin-h1 {
  display: flex;
  flex-direction: row;
  font-family: var(--font);
  align-items: baseline;
  padding-left: 4%;
}
#h1-btc {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--font);
}
#btc {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: var(--font);
  color: var(--text-gray);
  padding-left: 3%;
}
#numbers-h2 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-family: var(--font);
  padding-left: 4%;
}
#num-h2 {
  margin: 0;
  font-size: 0.875rem;
  font-family: var(--font);
}
.span-h2 {
  margin-left: 5px;
  font-size: 0.75rem;
  color: var(--pinknumbers);
}
.arrow {
  width: 20px;
  height: 20px;
  font-size: 1.3rem;

  cursor: pointer;
  transition: all 0.2s ease-in 0s;
  color: var(--black);
}
#charts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 4%;
}
#title-text-row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.charts-span {
  font-size: 0.92em;
  color: var(--text-gray);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  font-weight: 400;
}
.divs-charts {
  padding-bottom: 10%;
}
.charts2 {
  display: flex;
  flex-direction: column;
}
/*Second Row*/
/*Third Row*/
#row3 {
  display: flex;
  flex-direction: column;
}
.column1 {
  display: flex;
  flex-direction: column;
}
.column2 {
  display: flex;
  flex-direction: column;
}
.columns12345 {
  display: flex;
  flex-direction: row;
  padding: 1%;
}
.columns12345-div {
  border: 1px solid var(--border);
  border-radius: 10px;
  margin-bottom: 8px;
}
.numbers {
  font-family: var(--font);
  font-weight: 400;
  font-size: 1em;
  color: rgb(0, 0, 0);
  margin: 0;
}
.dates {
  font-family: var(--font);
  font-size: 0.9em;
  color: var(--text-gray);
  margin: 0;
}
.last-p {
  font-family: var(--font);
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 1em;
  margin: 0;
}
.p3 {
  margin: 0;
}
#title-row3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 5% 5%;
}
#title-text-row3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#bitcoin-h1h2 {
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  align-items: baseline;
  padding-left: 4%;
}
#blocks {
  font-size: 1rem;
  font-weight: bold;
  width: 150px;
  margin: 0;
}
#blocks-btc {
  cursor: pointer;
  font-size: 0.75rem;
  padding: 0px;
  margin: 0px;
  color: var(--text-gray);
}
.column2 {
  padding-left: 10px;
  padding-right: 10px;
}
/*Third Row*/
/*Second Row1*/
#second-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--border);
}
.rows456 {
  width: 33%;
}
#prices-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#prices-header h1 {
  font-size: 1rem;
  margin-bottom: 0;
}
#prices-header h2 {
  font-size: 0.75rem;
  color: var(--text-gray);
  padding: 0;
  margin-top: 0;
}
.btc-list-img {
  width: 25px;
  height: 25px;
  padding-right: 3%;
}
#arrow1 {
  padding-right: 15px;
  width: 20px;
  height: 20px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.2s ease-in 0s;
  color: var(--black);
}

#second-row1 {
  display: flex;
  flex-direction: column;
  padding-left: 2px;
  border-right: 1px solid var(--border);
  width: 33.2%;
}
.btc-class-list a {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  text-align: start;
  justify-content: space-between;
}
.btc-class-list {
  justify-content: space-around;
}
#btc-list {
  display: flex;
  flex-direction: column;
}
.btc-names {
  font-size: 0.9em;
  font-weight: 400;
  font-family: var(--font);
  display: flex;
  flex-direction: row;
}
.btc-nicknames {
  margin-left: 4px;
  font-weight: 400;
  color: var(--text-gray);
  display: inline;
  font-size: 0.75em;
  font-family: var(--font);
  padding-top: 2px;
}
.numbers- {
  font-size: 0.9em;
  color: var(--black);
  font-family: var(--font);
  font-weight: 400;
  transition: background-color 0.05s ease-in 0s;
}
.right-numbers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 10px;
}
.numbers-colored {
  color: var(--pinknumbers);
  font-family: var(--font);
  padding: 0px 6px 0px 5px;
  font-weight: 600;
  font-size: 0.9em;
}
.left-names {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 60%;
}
.btn-black {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  font-family: var(--font);
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  -webkit-tap-highlight-color: var(--black);
  background-color: var(--black);
  color: var(--border);
  opacity: 1;
  border: none;
  padding: 6px 12px;
  border-radius: 35px;
  font-weight: 900;
  font-size: 11px;
  margin: 0px;
}
.btn-gray {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  font-family: var(--font);
  -webkit-box-pack: center;
  justify-content: center;
  user-select: none;
  background-color: var(--border);
  opacity: 1;
  border: none;
  padding: 6px 12px;
  border-radius: 35px;
  font-weight: 900;
  font-size: 11px;
  margin: 0px;
}
/*Second Row1*/
/*Second Row2*/
.numbers-date {
  color: var(--text-gray);
  font-family: var(--font);
  font-size: 0.65em;
  width: 20%;
}
.numbers1 {
  font-family: var(--font);
  font-size: 0.75em;
  width: 25%;
}
.numbers2 {
  font-family: var(--font);
  font-size: 0.75em;
  width: 30%;
}
.numbers3 {
  font-family: var(--font);
  font-size: 0.75em;
  width: 15%;
  display: flex;
  align-items: end;
}
#second-row2 {
  border-right: 1px solid var(--border);
  width: 32.9%;
  padding-left: 4px;
  padding-right: 4px;
}
#arrow-middle {
  padding-left: 45%;
}
#transaction-numbers {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
.numbers-list a {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
#second-row2-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: start;
}
#second-row2-header h1 {
  font-size: 1rem;
  margin-bottom: 0;
}
#second-row2-header h2 {
  font-size: 0.75rem;
  color: var(--text-gray);
  padding: 0;
  margin-top: 0;
}
#img-second-row {
  width: 30px;
  height: 30px;
  padding-right: 5px;
  padding-left: 5px;
}
/*Second Row2*/
/*Second Row3*/
#img-second-row3 {
  width: 30px;
  height: 30px;
  padding-right: 5px;
  padding-left: 5px;
}
#second-row3 {
  width: 33.5%;
}
#two-divs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 6%;
}
#bitcoin-cash {
  display: flex;
  flex-direction: row;
  font-family: var(--font);
  align-items: baseline;
  padding-left: 4%;
}
#bitcoin-cash-h1 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--font);
}
#first-of-two {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3%;
}
#second-of-two {
  display: flex;
  flex-direction: column;
}
.top-btc {
  padding-top: 12%;
}
#bch {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: var(--font);
  color: var(--text-gray);
  padding-left: 3%;
}
#numbers-cash {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-family: var(--font);
  padding-left: 4%;
}
#num-cash-span {
  margin: 0;
  font-size: 0.875rem;
  font-family: var(--font);
}
#cash-span {
  margin-left: 5px;
  font-size: 0.75rem;
  color: var(--greennumbers);
}
#cash-span2 {
  margin-left: 5px;
  font-size: 0.75rem;
  color: var(--greennumbers);
}
.btc-cash-numbers {
  color: var(--black);
  font-size: 1em;
  font-weight: 500;
}
.btc-cash-span {
  font-size: 0.92em;
  color: var(--text-gray);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  font-weight: 400;
  font-family: var(--font);
}
#second-row3-title {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10%;
}
#btc-arrow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-between;
  width: 100%;
}

/*Second Row3*/
#third-row {
  display: flex;
  flex-direction: row;
}
/*Third Row 1*/
#third-row-row1 {
  display: flex;
  flex-direction: column;
  width: 33.2%;
  border-right: 1px solid var(--border);
}
#third-row-row1-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3% 0 10% 3%;
}
#chart4-h1 {
  font-size: 1rem;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  transition: all 0.1s ease 0s;
}
#chart4-h2 {
  cursor: pointer;
  font-size: 0.75rem;
  padding: 0px;
  margin: 0px;
  color: var(--text-gray);
}
#pie-chart-arrow {
  width: 20px;
  height: 20px;
  font-size: 1.3rem;
  padding-right: 4%;
  cursor: pointer;
  transition: all 0.2s ease-in 0s;
  color: var(--black);
}

/*Third Row 1*/
/*Third Row 2*/
#third-row-row2 {
  display: flex;
  flex-direction: column;
  padding-top: 1%;
  width: 33.35%;
  border-right: 1px solid var(--border);
}
.span-h2-eth {
  color: var(--greennumbers);
  margin-left: 5px;
  font-size: 0.75rem;
}
/*Third Row 2*/
/*Third Row 3*/
#third-row-row3 {
  display: flex;
  flex-direction: column;
  width: 33%;
}
#trading-txt {
  font-size: 1.5em;
  font-weight: 900;
  text-decoration: none;
  padding: 5% 2% 0 4%;
  width: 100%;
}
#trading-txt-p {
  font-size: 1.1em;
  font-weight: 400;
  padding: 0px;
  text-decoration: none;
  padding-left: 4%;
}
#trading-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 25%;
}
#chart4-img:hover {
  transform: scale(1.05);
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

/*Third Row 3 End*/
/*Fourth Row1 Start*/
#fourth-row-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}
#fourth1 {
  display: flex;
  flex-direction: column;
  width: 32.8%;
  padding-left: 1%;
  padding-top: 1%;
  border-right: 1px solid var(--border);
}
#pdc-div {
  font-weight: 600;
  margin-top: 3px;
  font-size: 0.95em;
}
#podcast-div {
  display: flex;
  flex-direction: row;
  font-size: 0.9em;
}
#pdc-text {
  font-weight: 400;
  font-size: 0.8em;
  color: var(--text-gray);
  width: 90%;
}
.play-img {
  color: var(--purple);
  height: 2%;
  width: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  padding-right: 10px;
}
.font-play {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgb(238, 238, 238);
  margin-right: 10px;
}
.podcast-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  margin-top: 2%;
}
#text-podcast {
  display: flex;
  flex-direction: column;
  padding: 0rem 0.8rem;
  width: 70%;
}
.podcasts-same {
  background-color: var(--gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  width: 80%;
  height: 60px;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 12.5px;
  cursor: pointer;
}
#subs-row4 {
  color: var(--white);
  background-color: var(--purple);
  padding: 6.9px 0px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  justify-content: center;
  width: 90px;
  margin-top: 10px;
  border: none;
}
.podcast-text {
  width: 90%;
}
.podcast-p {
  font-weight: 400;
  margin: 0px 0.25rem 2px;
  font-size: 0.85em;
  color: var(--gray-shade);
}
.podcast-bold {
  font-weight: 500;
  margin: 0rem 0.25rem;
  line-height: 1.1rem;
  font-size: 0.9em;
}
/*Fourth Row1 End*/
/*Fourth Row2 Start*/
#fourth2 {
  display: flex;
  flex-direction: column;
  width: 33.8%;
  border-right: 1px solid var(--border);
}
#fourth2-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20%;
}
#follow-blck {
  font-size: 1.9em;
  font-weight: 800;
  margin: 0rem 1.5rem;
}
#upd-blck {
  font-size: 1.15em;
  font-weight: normal;
  margin: 0.1rem 1.5rem;
}
#social-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 40px;
  background-color: var(--border);
  margin-bottom: 3%;
  border-radius: 1.5rem;
  opacity: 1;
}
.social-media:hover {
  background-color: var(--text-gray);
}
.media {
  padding-left: 30%;
  width: 20%;
}
.media-txt {
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
}
/*Fourth Row2 End*/
/*Fourth Row3 Start*/
#fourth3 {
  display: flex;
  flex-direction: column;
  width: 33.8%;
  height: auto;
  border: 1px solid var(--white);
}
#heat-map {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 3%;
}
#h3-h4 {
  padding-top: 5%;
}
#btc-red {
  padding-top: 15%;
}
#heat-map h3 {
  margin: 0;
  font-size: 1em;
}
#heat-map h4 {
  margin: 0;
  font-size: 0.7em;
  font-weight: 600;
}
.block-name {
  font-size: 0.675rem;
  font-weight: 500;
  margin: 0;
  color: var(--white);
}
.block-number {
  font-size: 0.575rem;
  font-weight: 500;
  margin: 0;
  color: var(--white);
}
.block-name-mini {
  font-size: 0.475rem;
  font-weight: 500;
  margin: 0;
  color: var(--white);
}
.block-number-mini {
  font-size: 0.475rem;
  font-weight: 400;
  margin: 0;
  color: var(--white);
}
.block-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#arrow-blck {
  width: 20px;
  height: 20px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.2s ease-in 0s;
}
#first-cube {
  background-color: var(--cube-red);
  width: 100%;
  height: 65%;
  border-bottom: 1px solid var(--white);
}
#second-cube {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 35%;
}
#eth-red {
  width: 60%;
  border-right: 1px solid var(--white);
  background-color: var(--cube-red);
}
#third-cube {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--cube-red);
  width: 20%;
}
#bnb-red {
  border-bottom: 1px solid var(--white);
  height: 55%;
}
#ada-red {
  padding: 2px 2px 5px 0;
  border-bottom: 1px solid var(--white);
  width: 100%;
}
#avax-red {
  padding-bottom: 20%;
  padding-right: 10%;
}
#doge-red {
  padding-bottom: 10%;
}
#xrp-steth {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 55%;
  border-left: 1px solid var(--white);
  background-color: var(--cube-red);
}
#xrp-red {
  border-right: 1px solid var(--white);
  height: 80px;
  width: 40%;
  padding-right: 4px;
}
#steth-red {
  padding-left: 4px;
}
#trx-red {
  border-top: 1px solid var(--white);
  padding-top: 20%;
  padding-left: 10%;
}
#ada-doge {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 62px;
  border-right: 1px solid var(--white);
}
#fourth-cube {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: 100%;
}
#fifth-cube {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 45%;
  background-color: var(--cube-red);
  border-top: 1px solid var(--white);
  border-left: 1px solid var(--white);
}
/*Fourth Row3 End*/
/*Icons Start*/
#list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2%;
}
#title-icons {
  max-width: max-content;
  font-size: 1.875rem;
  margin: 15px;
  font-weight: 600;
}
#icons-row1 {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 10px;
}
#icons-row2 {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 10px;
}
#icons-row3 {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 10px;
}
#icons-last {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 0px 10px 0px 7px;
  padding: 8px 20px 8px 12px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(238, 238, 238);
  flex: 1 1 0%;
  border-radius: 200px;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
}
.icons-name {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 15px;
}
.name-crypto {
  font-size: 14px;
  font-weight: 600;
  width: min-content;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  text-align: center;
}
.nickname-crypto {
  font-size: 0.875rem;
  color: rgb(153, 153, 153);
  font-weight: 600;
}
.icons-list-last {
  border-radius: 90px;
  cursor: pointer;
  margin: 0px;
  transition: all 0.125s ease-in 0s;
}

/*Icons End*/
/* Media Query */
@media screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #nav-left-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #title-img-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5% 5% 5% 3%;
    border-bottom: 1px solid var(--border);
  }
  #img-mobile {
    display: flex;
    font-weight: 700;
    font-size: 1em;
  }
  #img-main-mobile {
    display: flex;
    padding-right: 5px;
  }
  #mobile-blockchain {
    display: flex;
  }
  #nav-left {
    display: none;
    position: fixed;
    width: 0%;
    min-width: 0%;
  }
  #main-right-nav {
    display: none;
  }

  #right-whole-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 0;
    top: 80px;
    border-right: none;
  }
  #title-img {
    display: flex;
    flex-direction: row;
    margin-top: 12%;
    margin-left: 10%;
  }
  #title-div {
    margin-bottom: 5%;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
  }
  #form {
    display: none;
  }
  #search-nav {
    display: none;
  }
  #mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #icon-mobile {
    display: flex;
    width: 15%;
    height: auto;
    padding-right: 15px;
  }
  #sun-mobile {
    display: flex;
    padding-right: 15px;
    padding-left: 5px;
  }
  #sign-in-nav-mobile {
    display: flex;
    padding-left: 2px;
  }
  #sign-in-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    color: var(--white);
    background-color: var(--black);
    border-radius: 20px;
    border: none;
  }
  #right-whole-section {
    display: flex;
    flex-direction: column;
  }
  #game-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  #game-left {
    width: 350px;
    height: 45px;
    margin: 0;
    padding-bottom: 10px;
    display: inline-table;
    margin-right: 3%;
  }
  #game-left-a {
    display: initial;
  }
  #mini-img {
    margin-top: 3%;
  }
  #game-right {
    display: flex;
    flex-direction: column;
  }
  #pink {
    margin-bottom: 4%;
  }
  .boxes {
    width: 350px;
    height: 40px;
    font-size: 18px;
    font-weight: 700;
  }
  #first-row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .rows123 {
    width: 100%;
  }
  #row1 {
    margin-top: 10%;
    margin-bottom: 10%;
    border-right: none;
  }
  #row1-txt {
    padding: 5px 20px 0px;
  }
  #img-1 {
    width: 100%;
  }
  #row2 {
    border-bottom: 1px solid var(--border);
    border-right: none;
  }
  #row3 {
    margin-top: 5%;
  }
  #title-row3 {
    padding: 0 5% 5% 5%;
  }
  #charts {
    margin-bottom: 5%;
  }
  .rows456 {
    width: 100%;
  }
  #second-row {
    display: flex;
    flex-direction: column;
  }
  #second-row1 {
    width: 100%;
    border-bottom: 1px solid var(--border);
    border-right: none;
  }
  #prices-header {
    padding-left: 2%;
  }
  #btc-list {
    padding: 0 2% 2% 2%;
  }
  #second-row2 {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid var(--border);
  }

  #transaction-numbers {
    padding: 0 0 2% 0;
  }
  a .numbers-list {
    width: 100%;
  }
  #second-row3 {
    width: 100%;
  }
  #btc-arrow {
    justify-content: start;
  }
  #arrow2 {
    padding-left: 57%;
  }
  #chart2-mobile {
    width: 100%;
  }
  #pie-chart-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #pie-chart-mobile {
    width: 100%;
    padding-bottom: 5%;
    border-bottom: 1px solid var(--border);
  }
  #third-row {
    display: flex;
    flex-direction: column;
  }
  #third-row-row1-header {
    padding: 3% 0 10% 6%;
  }
  #third-row-row1 {
    width: 100%;
    border-right: none;
  }
  #third-row-row2 {
    width: 100%;
    border-right: none;
    padding-top: 3%;
    border-bottom: 1px solid var(--border);
  }
  #third-row-row3 {
    width: 100%;
  }
  #fourth-row-div {
    display: flex;
    flex-direction: column;
  }

  #trading-txt {
    width: 90%;
  }
  #fourth1 {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
  .podcast-list {
    width: 100%;
    align-items: center;
  }
  .podcasts-same {
    width: 90%;
    padding: 10px 10px;
  }
  #text-podcast {
    padding-left: 0.8rem;
  }
  #fourth2 {
    width: 100%;
    border-right: none;
  }
  #follow-blck {
    margin: 0;
  }
  #fourth2-title {
    align-items: baseline;
    padding-top: 15%;
  }
  #social-box {
    padding-bottom: 15%;
  }
  #fourth3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 400px;
  }
  /*modify
  #first-cube {
    width: 65%;
    height: auto;
  }
  #second-cube {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  #third-cube {
    display: flex;
    flex-direction: row;
  }
  #fourth-cube {
    display: flex;
    flex-direction: row;
  }
  #xrp-steth {
    display: flex;
    flex-direction: column;
  }
  modify*/
  #last-section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #title-icons {
    font-size: 1.575rem;
  }
  #icons-last {
    display: flex;
    flex-direction: column;
    border: none;
  }
  #icons-row1 {
    display: none;
  }
  #icons-row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #list {
    display: flex;
    justify-content: space-around;
  }
  #icons-row3 {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  #game-section {
    width: 100%;
  }
  #game-right {
    width: 80%;
  }
  #game-left {
    width: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #right-whole-section {
    display: flex;
    flex-direction: column;
  }
  .boxes {
    width: 280px;
  }
  #mini-img {
    margin-top: 5%;
  }
  #game-left-a {
    padding: 1px;
  }
  #shido {
    font-size: 1em;
    font-weight: 300px;
  }
  #usd {
    margin-left: 80%;
  }
  #arrow-middle {
    padding-left: 30%;
  }
  #arrow2 {
    padding-left: 40%;
  }
  #trading-txt {
    width: 90%;
    font-size: 1.2em;
  }
  #trading-txt-p {
    font-size: 0.9em;
  }
  #pdc-text {
    font-size: 0.7em;
    width: 100%;
  }
  #pdc-div {
    font-size: 0.85em;
  }
  #img3 {
    width: 100%;
  }
  .btc-cash-numbers {
    font-size: 0.8em;
  }
  .charts-span {
    font-size: 0.72em;
  }
  .podcast-bold {
    line-height: 0.9rem;
    font-size: 0.7em;
  }
  .podcast-list {
    align-items: baseline;
    padding-left: 5px;
  }
  #icons-last {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .icons-list-last img {
    width: 30px;
  }
  .icons-name {
    margin: 0;
  }
  .podcast-p {
    font-size: 0.7em;
  }
  .podcasts-same {
    width: 90%;
    height: 40px;
    padding: 10px 5px 10px 10px;
  }
  .name-crypto {
    font-size: 12px;
  }
  .nickname-crypto {
    font-size: 0.75rem;
  }
}
