:root {
  --black: #050404;
  --gray: rgb(249, 247, 246);
  --pink: rgb(241, 50, 97);
  --pinknumbers: rgb(244, 91, 105);
  --white: rgb(255, 255, 255);
  --green: rgb(63, 183, 22);
  --font: "SF Pro Display";
  --border: rgb(238, 238, 238);
  --text-gray: rgb(153, 153, 153);
}
body {
  font-family: "Inter var", sans-serif;
  font-feature-settings: "zero", "ss01";
}
#nav-left {
  position: fixed;
  top: 0px;
  left: 0px;
  padding-top: 1%;
  width: 240px;
  min-width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: self-end;
  -webkit-box-pack: start;
  justify-content: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  border-right: 1px solid var(--border);
}
a {
  text-decoration: none;
  color: var(--black);
}
.a-left-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-left: 10%;
  align-items: flex-start;
}
#border {
  border-bottom: 1px solid var(--border);
  width: 70%;
  margin-left: 12%;
  padding: 0;
}
#border:hover {
  padding: 0;
}
#nav-left-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  justify-content: center;
}
.navigation:hover {
  background-color: var(--gray);
  width: 80%;
  height: 20px;
  border-radius: 9px;
  padding: 12px;
}

#home {
  background-color: var(--gray);
  width: 80%;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 9px;
}
#title-img {
  font-family: var(--font);
  font-weight: bolder;
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  margin: 0% 0 20% 20%;
}
#img-main {
  margin-right: 10%;
}
#news {
  margin-left: 12%;
}
.span-text {
  font-family: var(--font);
  font-weight: 600;
  font-size: 0.875rem;
  margin-left: 10%;
}
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
  width: 80%;
  padding: 13px;
}
/* Search Nav Section- Main Right */
#search-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 13px;
  border-bottom: 1px solid var(--border);
}
#sign-in {
  width: 90px;
  height: 35px;
  color: var(--white);
  background-color: var(--black);
  border-radius: 20px;
  border: none;
  font-family: var(--font);
}
#search-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  border-radius: 30px;
}
#form {
  border: none;
  width: 700px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#input {
  width: 500px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 100;
  color: var(--border);
  font-family: var(--font);
}
#input:focus {
  color: 1px solid var(--border);
  border: none;
  outline: none;
}
#empty-space {
  width: 440px;
}
#icon {
  width: 5%;
  height: auto;
  padding-left: 15px;
  padding-top: 14px;
  padding-bottom: 12px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--border);
}
#sun {
  margin-right: 110px;
}
/*Game Section*/
#mini-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding-right: 1%;
}
#game-section {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  font-family: var(--font);
  padding-bottom: 1%;
}

#game-left {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 480px;
  height: 30px;
  background-color: var(--border);
  border-radius: 9px;
  font-size: 15px;
  margin-right: 14%;
}
#game-left-a {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 500px;
}
#shido {
  font-weight: 300px;
}
#underline {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}
.boxes {
  color: white;
  width: 160px;
  height: 29px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  font-size: 14px;
  font-weight: 700;
  font-family: var(--font);
}
#black {
  background-color: var(--black);
}
#pink {
  background-color: var(--pink);
}
#green {
  background-color: var(--green);
}
#game-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding-right: 10px;
  gap: 5px;
}
/*Game Section*/
/*First Row*/
#first-row {
  display: flex;
  flex-direction: row;
  font-family: var(--font);
  border-bottom: 1px solid var(--border);
}
#empty-row {
  width: 240px;
}
.rows123 {
  width: 400px;
  padding-top: 1%;
}
.bitcoin-imgs {
  width: 70px;
  height: 55px;
}
.bitcoin-mini {
  width: 30px;
  height: 30px;
}
#row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--border);
}
#row1-txt {
  padding: 40px 20px 0px;
}
#row1-txt:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}
#row1-p1 {
  font-weight: 600;
  font-size: 1.25em;
}
.row1-p2 {
  color: var(--text-gray);
  font-family: var(--font);
  margin: 0;
}
#row1-p2 {
  margin: none;
  padding-top: 4%;
}
#usd {
  width: 47px;
  height: 33px;
  background-color: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  margin-left: 84%;
}
/*First Row*/
/*Second Row*/
#row2 {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--border);
}
#title-row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5% 5% 5%;
}
#bitcoin-h1 {
  display: flex;
  flex-direction: row;
  font-family: var(--font);
  align-items: baseline;
  padding-left: 4%;
}
#h1-btc {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  font-family: var(--font);
}
#btc {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: var(--font);
  color: var(--text-gray);
  padding-left: 3%;
}
#numbers-h2 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-family: var(--font);
  padding-left: 4%;
}
#num-h2 {
  margin: 0;
  font-size: 0.875rem;
  font-family: var(--font);
}
.span-h2 {
  margin-left: 5px;
  font-size: 0.75rem;
  color: var(--pinknumbers);
}
.arrow {
  width: 20px;
  height: 20px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.2s ease-in 0s;
  color: var(--black);
}
#charts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 4%;
}
#title-text-row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.charts-span {
  font-size: 0.92em;
  color: var(--text-gray);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  font-weight: 400;
}
.divs-charts {
  padding-bottom: 10%;
}
.charts2 {
  display: flex;
  flex-direction: column;
}
/*Second Row*/
/*Third Row*/
#row3 {
  display: flex;
  flex-direction: column;
}
.column1 {
  display: flex;
  flex-direction: column;
}
.column2 {
  display: flex;
  flex-direction: column;
}
.columns12345 {
  display: flex;
  flex-direction: row;
  padding: 1%;
}
.columns12345-div {
  border: 1px solid var(--border);
  border-radius: 10px;
  margin-bottom: 8px;
}
.numbers {
  font-family: var(--font);
  font-weight: 400;
  font-size: 1em;
  color: rgb(0, 0, 0);
  margin: 0;
}
.dates {
  font-family: var(--font);
  font-size: 0.9em;
  color: var(--text-gray);
  margin: 0;
}
.last-p {
  font-family: var(--font);
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 1em;
  margin: 0;
}
.p3 {
  margin: 0;
}
#title-row3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5% 5% 5%;
}
#title-text-row3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#bitcoin-h1h2 {
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  align-items: baseline;
  padding-left: 4%;
}
#blocks {
  font-size: 1rem;
  font-weight: bold;
  width: 150px;
  margin: 0;
}
#blocks-btc {
  cursor: pointer;
  font-size: 0.75rem;
  padding: 0px;
  margin: 0px;
  color: var(--text-gray);
}
.column2 {
  padding-left: 10px;
  padding-right: 10px;
}
/*Third Row*/
/*Second Row1*/
.btc-list-img {
  width: 25px;
  height: 25px;
}
/*Second Row1*/
